.scene
	.block.grass
	.block.grass
	.block.grass
	.block.grass
	.block.grass

	.block.grass
	.block.grass
	.block.grass
	.block.grass
	.block.grass
	
	.block.grass
	.block.grass
	.block.dirt
	.block.grass
	.block.grass
	
	.block.grass
	.block.grass
	.block.grass
	.block.grass
	.block.water

	.block.grass
	.block.grass
	.block.grass
	.block.water
	.block.water